ODONTIQ_BASE_URL=http://localhost:3000

CLERK_PUBLISHABLE_KEY=
CLERK_SECRET_KEY=
PHASE_T_TEST_EMAIL=
PHASE_T_TEST_PASSWORD=

PHASE_T_DEFAULT_TIMEOUT_MS=30000
PHASE_T_RESPONSE_WARNING_MS=8000
PHASE_T_COMPLETION_WARNING_MS=10000

PHASE_T_ENVIRONMENT=local
